.block {
    font-size: 12px;
    text-align: left;
    margin-left:120px auto;
    margin-right:120px auto;
    max-width: 682px;
}

.border {
    width: 682px auto;
    margin: auto;
    border-style: dashed;
    border-collapse: collapse;
    border-color: #cacaca;
    overflow: hidden;
}

a:hover {
    color: gray;
}


@media 
/* Small Screens */
only screen and (max-width: 500px),
/* Medium Screens */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.notnow { display: none; }
}