* {
    background: #1b1b1b;
    color: #ffffff;
  }
  
  body {
      font: 14px 'Segoe UI';
  }

#donotcopy {
    font-size: 12px;
    position: absolute;
    bottom: 8px;
    left: 8px;
}

#name {
    font-family: 128px 'aihet_script_personal_use_oRg';
    color: #910e0f;
    text-align: center;
}

#error404 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}