* {
    background: #1b1b1b;
    color: #ffffff;
  }
  
  body {
      font: 14px 'Segoe UI', Tahoma, Verdana, sans-serif;
  }

#donotcopy {
    font-size: 12px;
    position: absolute;
    bottom: 8px;
    left: 8px;
}

#nameandfont {
    font: 128px 'I forgot the name';
    color: #910e0f;
    text-align: center;
}

#error404 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

@font-face {
    font-family: "I forgot the name";
    src: url("fonts/font.tff");
}