@font-face {
    font-family: 'suguspulus';
    src: url("fonts/font-webfont.woff2") format('woff2'),
         url("fonts/font-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}